#############################
# Maven
#############################
target/
*.log
*.out

#############################
# Java / Spring Boot
#############################
*.class
*.jar
*.war

#############################
# IntelliJ IDEA
#############################
.idea/
*.iml
*.ipr
*.iws

#############################
# OS files
#############################
.DS_Store
Thumbs.db

#############################
# Spring Boot env configs
#############################
application-local.yml
.env